<!-- Navigation Bar -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink="home">
        <img src="../assets/logoAgrya.png" alt="Logo" width="240px"  class="d-inline-block align-text-top">
      </a>
    <div class="nav1 navbar nav-item">
      <a class="nav2" href="#" routerLink="">
        HOME
      </a>

      <a class="nav2" href="#" routerLink="services">
        SERVICES
      </a>

      <a class="nav2" href="#" routerLink="careers">
        CAREERS
      </a>

      <a class="nav2" href="#" routerLink="aboutus">
        ABOUT US
      </a>

      <a class="nav2" href="#" routerLink="contact">
        CONTACT
      </a>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- footer  -->
<footer>
  <div class="foot">
    <a href="#" routerLink="home">
      <img src="../assets/foot.png" alt="">
    </a>
    <p style="color: white;">
      &copy; 2023
    </p>
  </div>
</footer>