<section class="text-center" style="margin: 0; background-color: rgb(239, 239, 239);">
    <div class=".whowe" style="padding: 30px;">
        <blockquote class="blockquote">
            <h1>OUR SERVICES</h1>
        </blockquote>
        <div class="para" style="margin: 0 25%;">
            <p>At AGRYA, we specialize in providing top-notch IT consulting and staff augmentation services to
                businesses across various industries. Our comprehensive solutions are designed to help businesses
                achieve their technology goals, optimize operations, and drive growth. With a team of highly skilled IT
                professionals, we are dedicated to delivering excellence and becoming a reliable extension of your
                existing workforce.</p>
        </div>
    </div>
</section>

<div class="container text-center">
    <div class="row row-cols-2">
        <div class="col box webDev"></div>

        <div class="col box appDev"></div>

        <div class="col box uiux"></div>

        <div class="col box learn"></div>

        <div class="col box softDev"></div>
        
        <div class="col box cyberDev"></div>
    </div>
</div>