<div class="card text-bg-dark">
  <img src="../assets/1stBackground.jpg" class="card-img" alt="..." style="height: 100%; width: 100%;">
  <div class="card-img-overlay main">
    <div class="main-title">
      <h1 style="text-shadow: 2px 2px 2px black;">AGRYA SOLUTIONS <br></h1>
    </div>

    <div class="main-disc" style="text-shadow: 2px 2px 2px black;">
      <h3>Transforming Tech Challenges into Business Success: Your IT Consulting Partner! <br>

        We make IT SIMPLE. </h3>
    </div>

  </div>
</div>

<section class="text-center" style="margin: 20px;">
  <blockquote class="blockquote">
    <img src="../assets/logo1Agrya.png" alt="" style="height: 50px;">
  </blockquote>
  <div class="para">
    <p>At AGRYA, we strive to be more than just an IT consulting services company we aim to be a strategic partner for
      our clients, that is dedicated to providing innovative and strategic solutions to businesses seeking to optimize
      their IT operations and achieve sustainable growth. With a team of highly skilled and experienced consultants, we
      offer a wide range of services designed to address the unique technological challenges faced by modern
      organizations.</p>
  </div>

  <div class="d-grid gap-2 col-1 mx-auto mt-3">
    <button type="button" class="btn btn-outline-secondary">More</button>
  </div>
</section>

<router-outlet></router-outlet>